body {
  background-image: url(../images/bulb.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
}
#overlay {
  opacity: 0;
  pointer-events: none;
}
#overlay-active {
  pointer-events: all;
  opacity: 1;
}
.card {
  display: none;
  transition: 200ms ease-in-out;
  background-color: rgba(250, 242, 233, 0.555);
}
#repair {
  background-color: rgba(90, 245, 70, 0.938);
  padding: 17px;
  margin-bottom: 0;
}
#start {
  border: none;
  background: none;
  outline: none;
}
@media screen and (max-width: 800px) {
}
